In [1]:
import charset_normalizer
with open("Top_200_Movies_Dataset_2023(Cleaned).csv", 'rb') as rawdata:
    result = charset_normalizer.detect(rawdata.read(10000))

# check what the character encoding might be
print(result)

{'encoding': 'UTF-8-SIG', 'language': 'English', 'confidence': 1.0}

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
df=pd.read_csv("Top_200_Movies_Dataset_2023(Cleaned).csv",encoding="UTF-8-SIG")

In [24]:
df.shape

(200, 6)

In [25]:
df.describe()

             Rank
count  200.000000
mean   100.500000
std     57.879185
min      1.000000
25%     50.750000
50%    100.500000
75%    150.250000
max    200.000000

In [26]:
df.head()

,Rank,Title,Theaters,Total Gross,Release Date,Distributor
0,1,Barbie,"4,337","$594,254,460",2023-07-21 00:00:00,Warner Bros.
1,2,The Super Mario Bros. Movie,"4,371","$574,759,600",2023-04-05 00:00:00,Universal Pictures
2,3,Spider-Man: Across the Spider-Verse,"4,332","$381,178,195",2023-06-02 00:00:00,Columbia Pictures
3,4,Guardians of the Galaxy Vol. 3,"4,450","$358,995,815",2023-05-05 00:00:00,Walt Disney Studios Motion Pictures
4,5,Oppenheimer,"3,761","$300,144,670",2023-07-21 00:00:00,Universal Pictures

In [15]:
df.dtypes

Rank             int64
Title           object
Theaters        object
Total Gross     object
Release Date    object
Distributor     object
dtype: object

In [37]:
#converting object types into numeric for easy operation
df['Total Gross'] = df['Total Gross'].astype(str).str.replace('[\$,]', '', regex=True).astype(float)
# df.dtypes
df['Theaters'] = df['Theaters'].str.replace('[^\d]', '', regex=True)
# Convert the cleaned column to integers
df['Theaters'] = pd.to_numeric(df['Theaters'], errors='coerce', downcast='integer')
df.dtypes

Rank              int64
Title            object
Theaters        float64
Total Gross     float64
Release Date     object
Distributor      object
dtype: object

In [40]:
sns.barplot(x='Title',y='Theaters',data=df)
plt.xticks(roataion=vertical)
plt.xlable('Movie Title')
plt.ylable('No of Theaters')
plt.show()

ValueError: 'purples' is not a valid palette name